<!-- constellation-details.handlebars -->

<div class="constellation-card">
  <h2>{{user.username}}'s Constellation</h2>
  
  <div class="socials">
    <h3>Social Media</h3>
    <ul>
      {{#if user.social.twitter}}
        <li><a href="{{user.social.twitter}}" target="_blank">Twitter</a></li>
      {{/if}}
      
      {{#if user.social.instagram}}
        <li><a href="{{user.social.instagram}}" target="_blank">Instagram</a></li>
      {{/if}}
      
      {{#if user.social.tiktok}}
        <li><a href="{{user.social.tiktok}}" target="_blank">TikTok</a></li>
      {{/if}}
      
      <!-- Add links for other social media platforms -->
    </ul>
  </div>
  
  <div class="status">
    <h3>Constellation Status</h3>
    <p>{{user.constellation.status}}</p>
  </div>
</div>
